.contacts-header-footer :hover,
:focus {
  color: blue;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button :active {
  cursor: pointer;
  color: blue;
}
a:active {
  color: blue;
}
.body {
  font-family: "Roboto", "Open Sans", "system-ui", sans-serif;
  color: #212121;
}
.body li {
  font: inherit;
  color: inherit;
}
h2 {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.1;
  color: var(--text-color-primary);
}
.font-class-I,
.font-class-Ia {
  font-family: "Roboto";
  font-size: 44px;
  line-height: 1.3;
  font-weight: 900;
  color: #ffffff;
}
.font-class-Ia {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
.company-name,
.company-name-1 {
  font-family: "Relaway";
  font-size: 26px;
  line-height: 1.9;
  color: #2196f3;
}
.company-name-1 {
  color: #000000;
}
.font-class-1,
.font-class-1a,
.font-class-1b,
.font-class-II,
.font.class-IIa {
  font-size: 14px;
  line-height: 1.02;
  color: var(--text-color-primary);
  font-weight: 500px;
}
.font-class-1a {
  color: #2196f3;
}
.font-class-1b {
  color: #757575;
}
.font-class-II {
  font-weight: 700px;
}
.font-class-IIa {
  line-height: 1.7;
  color: var(--text-color-secondary);
  font-weight: 400px;
}
.font-class-2,
.font-class-2a {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500px;
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-primary);
}
.font-class-2a {
  color: #ffffff;
  background-color: blue;
}
.font-class-3,
.font-class-3a {
  font-size: 18px;
  line-height: 2;
  font-weight: 700px;
  color: var(--text-color-primary);
  border: var(--border-primary);
}
.font-class-3a {
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.8;
}
.font-class-4 {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}
:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --background-color-primary: #f5f4fa;
  --background-color-secondary: #ffffff;
  --border-radius-primary: 4px;
  --border-primary: 1px solid #eeeeee;
}
